<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="underlined" >
          <label>Name: </label>
          <input type="text" name="name" required placeholder="Name" />
        </div>
        <div class="underlined">
            <label>Email: </label>
            <input type="email" name="email" required placeholder="Email" />
        </div>
        <div class="underlined">
            <label>password: </label>
            <input type="password" name="password" required placeholder="Password" />
          </div>
          <input type="submit" value="Submit"></input>
        <br>
        <br>
      </form>
</body>
</html>