<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Services</title>
    <script>
      function toggleText() {
        var text = document.getElementById("passshower");
        console.log(text.style.display);
        if (text.style.display === "none") {
          text.style.display = "block";
        } else {
          text.style.display = "none";
        }
      }
      </script>
  </head>
  <body>
    <h1>Services</h1>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteaccount">
      Delete Account
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="deleteaccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="underlined">
                  <label>Password: </label>
                  <input type="password" name="password" required placeholder="Password" />
             
              <br>
              <input style="display: none" type="text" name="checker" required placeholder="Password" value="delete_service"/>
          </div>
          <div class="modal-footer">
             </div>
                <input type="submit" value="Submit"></input>
              <br>
          </div>
        </form>
        </div>
      </div>
    </div>
    <div class="container">
      <table>
      <tr>
        
        <th>Name</th>
        <th>Delete</th>
        
      </tr>
      {% for s in service %}
      <tr>
        <td>{{ s.service_name }}</td>
        <td><a href="/delete/{{ s.id }}">delete</a></td>
        {% comment %} <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{s.id}}">
          view service
        </button>
        <div class="modal fade" id="modal{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>{{ s.service_name }}</p>
                <p>{{ s.password }}</p>
              </div>
            </div>
          </div>
        </div>
        </td> {% endcomment %}
        <td><a class="btn btn-primary" href="/view_password/{{ s.id }}" target="_blank">View Password</a></td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update{{s.id}}">
          Update password
        </button>
        <div class="modal fade" id="update{{s.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="underlined">
                    <input style="display: none" type="text" name="id" required placeholder="Password" value="{{s.id}}" />
                      <label>service name: </label>
                      <input type="text" name="name" required placeholder="name" value="{{s.service_name}}" />
                  </div>
                  <div class="underlined">
                      <label>Password: </label>
                      <input type="password" name="password" required placeholder="New Password"/>
                      <input style="display: none" type="text" name="checker" required placeholder="Password" value="update_service"/>
                  <br>
                  </div>
                  <div class="modal-footer">
                    </div>
                        <input type="submit" value="Submit"></input>
                      <br>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    </div>
    <div class="container">
        {% comment %} <a class="nav-link btn btn-primary" href="#">add services</a>
        <br> {% endcomment %}

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          add services
        </button>
        
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="underlined">
                      <label>service name: </label>
                      <input type="text" name="name" required placeholder="name" />
                  </div>
                  <div class="underlined">
                      <label>Password: </label>
                      <input type="password" name="password" required placeholder="Password" />
                 
                  <br>
                  <input style="display: none" type="text" name="checker" required placeholder="Password" value="add_service"/>
              </div>
              <div class="modal-footer">
                 </div>
                    <input type="submit" value="Submit"></input>
                  <br>
              </div>
            </form>
            </div>
          </div>
        </div>
        
        <br>
        <br>
        
        <a href="{% url 'home' %}" class="btn btn-primary">Logout</a>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>